<div id="div-form">
    <h2>{{ editar ? 'Alterar' : 'Cadastrar' }} Corrida </h2>
    
    <!-- Mudei o id para form-corrida e usei o padrão do Angular (ngSubmit) -->
    <form id="form-corrida" (ngSubmit)="dadosFormulario()">
        <label for="corrida">Descrição da Corrida</label>
        <textarea name="descricao_corrida" [(ngModel)]="descricao_corrida" id="corrida" class="elem-form01" placeholder="Descreva a corrida" maxlength="300"></textarea>

        <label for="data_corrida">Data Corrida</label>
        <input type="date" name="data_corrida" [(ngModel)]="data_corrida" id="data_corrida" class="input02" required>

        <label>Distâncias Disponíveis</label>
        <div id="div-checkbox">
            <!-- Adicionado o underline ( _ ) nos names e ngModels e removido o atributo 'value' -->
            <input type="checkbox" name="distancia_5km" [(ngModel)]="distancia_5km" id="distancia_5km" class="btnSelecao"> 5Km
            <input type="checkbox" name="distancia_10km" [(ngModel)]="distancia_10km" id="distancia_10km" class="btnSelecao"> 10Km
            <input type="checkbox" name="distancia_25km" [(ngModel)]="distancia_25km" id="distancia_25km" class="btnSelecao"> 25Km
        </div>

        <div id="div-btns">
            <button type="submit" id="btnAdd">{{ editar ? 'Alterar' : 'Cadastrar' }} Corrida </button>
            <button type="reset" id="btnLimpar"> Limpar </button>
        </div>

    </form>
</div>